.binaria {
  padding-bottom: 5vh;
  padding-top: 5vh;
  height: 80vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefd;
  z-index: 2;
}

.screen {
  position: relative;
  width: 60rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chart {
  opacity: 0.2;
  width: 60rem;
  height: auto;
}

/* LINHAS */
.line_axis_x {
  position: absolute;
  top: 46.5%;
  left: 102px;
  width: 61%;
  /* opacity: 0.2; */
  height: 1.25px;
  background-color: #8a776e;
  transform: translateY(-74%);
}

.line_axis_y {
  position: absolute;
  top: 23px;
  left: 43%;
  width: 1.25px;
  height: 94.8%;
  background-color: #8a776e;
  transform: translateX(-594%);
}

.abiscissas {
  position: absolute;
  top: 84%;
  left: 104px;
  width: 61%;
  /* opacity: 0.2; */
  height: 1.5px;
  background-color: #8a776e;
  transform: translateY(-296%);
}

.ordinates {
  position: absolute;
  top: 209px;
  left: 15%;
  width: 1.25px;
  height: 50.8%;
  background-color: #8a776e;
  transform: translateX(-217%);
}

.ordinatesH {
  position: absolute;
  top: 251px;
  left: 13%;
  width: 1.25px;
  height: 44.2%;
  background-color: #8a776e;
  transform: translateX(-274%);
}

.absiscissasA1 {
  position: absolute;
  top: 88.7%;
  left: 169px;
  width: 24.7%;
  /* opacity: 0.2; */
  height: 1px;
  background-color: #8a776e;
  transform: translateY(-296%);
}

.absiscissasA2 {
  position: absolute;
  top: 88.7%;
  left: 407px;
  width: 13.4%;
  /* opacity: 0.2; */
  height: 1px;
  background-color: #8a776e;
  transform: translateY(-296%);
}

.absiscissasBottom {
  position: absolute;
  top: 92.8%;
  left: 169px;
  width: 49.4%;
  /* opacity: 0.2; */
  height: 1.25px;
  background-color: #8a776e;
  transform: translateY(-296%);
}

/*Letters */
.heightGraphicLetter {
  position: absolute;
  font-style: italic;
  font-weight: 500;
  color: #8a776e;
  left: 13.1%;
  bottom: 33.1%;
}

.A1GraphicLetter {
  font-style: italic;
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  left: 28.9%;
  bottom: 12.1%;
}

.A2GraphicLetter {
  font-style: italic;
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  left: 47.9%;
  bottom: 12.1%;
}

.inclinationAngleLetter {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 17%;
  left: 44%;

  font-size: 12px;
}

.inclinationAngleJapanese {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 19%;
  left: 46%;
  font-size: 12px;
}

.binarySeparation {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 93.5%;
  left: 25.3%;
  font-size: 12px;
}

.Hipparcos {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 95.6%;
  left: 28.5%;
  font-size: 12px;
}

.orbitalPlane {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 39%;
  left: 54.9%;
  font-size: 12px;
}

.orbitalPlaneJapanese {
  position: absolute;
  font-weight: 500;
  color: #8a776e;
  top: 41.5%;
  left: 57.4%;
  font-size: 12px;
}

/*DASHED*/

.dashed45 {
  position: absolute;
  top: 46%;
  left: 33.6px;

  width: 78%;
  height: 1.25px;

  border-top: 1px dashed #8a776e;

  transform: translateY(-74%) rotate(-45.2deg);
}

/* Angles */
.inclinationAngle {
  position: absolute;
  top: 34%;
  left: 37%;
  width: 182px;
  height: 107px;
  border: 1px dashed #8a776e;
  border-radius: 50%;
  transform: translateY(-71%) rotate(22.8deg);
  clip-path: inset(-56% 4% 86% 18%);
}

/* Orbital */

.orbital {
  position: absolute;

  top: 32.5%;
  right: 33%;
  width: 474px;
  height: 175px;

  border: 1px solid #8a776e;
  border-radius: 50%;
  transform: translateX(-0.3%);
}

.internalOrbital {
  position: absolute;

  top: 38.8%;
  right: 44%;
  width: 263px;
  height: 96px;

  border: 1px solid #8a776e;
  border-radius: 50%;
  transform: translateX(-0.3%);
}

.nagaoOrbital {
  position: absolute;
  top: 61.2%;
  right: -25.6%;
  width: 626px;
  height: 220px;
  border: 1px solid #8a776e;
  border-radius: 50%;
  transform: translateX(-0.3%) rotate(11deg);

  -webkit-mask-image: linear-gradient(to left, transparent 60%, black 70%);
  mask-image: linear-gradient(to left, transparent 60%, black 70%);
}

.xaiOrbital {
  position: absolute;
  top: 10.3%;
  right: 54.6%;
  width: 414px;
  height: 88px;
  border: 1px solid #8a776e;
  border-radius: 50%;
  transform: translateX(0.7%) rotate(21deg) translateY(-2.6%);

  -webkit-mask-image: linear-gradient(to right, transparent 20%, black 70%);
  mask-image: linear-gradient(to right, transparent 5%, black 90%);
}

.NagaoAsteroid {
  position: absolute;
  top: 59%;
  right: 31.6%;
  height: 88px;
  /* animation:
    nagaoMovimentation 3s linear infinite,
    nagaoMovimentation2 3s linear infinite; */
  will-change: transform;

  transition: transform 0.3s ease-out;
  cursor: pointer;
  transition: 0.2s;
}

.NagaoAsteroid:hover {
  height: 95px;

  transform: scale(2.7);
  animation-play-state: paused;
}

/* @keyframes nagaoMovimentation {
  0% {
    opacity: 0;

    transform: translate(-15px, 0px) rotate(0deg);
  }

  5% {
    opacity: 1;
  }

  50% {
    opacity: 1;

    transform: translate(75px, 119px) rotate(15deg);
  }

  75% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 0;

    transform: translate(320px, 210px) rotate(-55deg);
  }
}

@keyframes nagaoMovimentation2 {
  0% {
    opacity: 1;
    top: 50%;
    right: 4.6%;
    height: 88px;
    transform: translate(-15px, 0px) rotate(15deg);
  }

  10% {
    top: 49%;

  }

  100% {
        opacity: 1;
    top: 59%;
    right: 31.6%;
    height: 88px;
    transform: translate(-15px, 0px) rotate(0deg);
  }
} */
